@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #D74949;
    font-family: 'roboto',sans-serif;
}

main {
    height: calc( 100vh - 70px);
    width: 75%;
    background-color: #f3f3f3;
    margin: 0 auto;
    padding: 4rem;
}

main header h1 {
    margin-top: 100px;
    font-size: 0.875rem;
    font-weight: 300;
}

main header h2 {
    text-align: right;
    font-weight: 700;
    font-size: 1rem;
}

main header p {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

main header p span {
    color: #8F2727;
}

main .profile {
    margin-top: 60px;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.profile .details {
    padding: 1rem;
}

.profile .details .name {
    font-size: 0.875rem;
    letter-spacing: 0.56px;
    font-weight: 700;
}

.profile .details .description {
    font-size: 0.875rem;
}

.social-media .linkedin {
    float: left;
    padding-left: 20px;
    padding-right: 8px ;
}

footer {
    background-color: #3A3A3A;
    height: 70px;
    color: white;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
}

footer p {
    padding-top: 27px;
    padding-bottom: 27px;
}

